<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loner.android.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".activity.EmergencyAlertActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Light"></activity>
        <activity
            android:name=".activity.MissedCheckInActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Light"></activity>
        <activity
            android:name=".activity.SetRepeatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".activity.SetTimerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".activity.CheckInActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>